In [1]:
import requests
import json
import pandas as pd

In [2]:
bls_codes = ['CUUR0000SA0','CIU1010000000000A', 'LNS14000000', 'PRS85006092']
bls_indicator_names = ['CPI for All Urban Consumers (CPI-U) 1982-84=100 (Unadjusted)', 
                      'Employment Cost Index (ECI) Civilian (Unadjusted)',
                      'Unemployment Rate (Seasonally Adjusted)',
                      'Output Per Hour - Non-farm Business Productivity']
bls = dict()
for code, name in zip(bls_codes, bls_indicator_names):
  bls[code] = name
print(bls)

{'CUUR0000SA0': 'CPI for All Urban Consumers (CPI-U) 1982-84=100 (Unadjusted)', 'CIU1010000000000A': 'Employment Cost Index (ECI) Civilian (Unadjusted)', 'LNS14000000': 'Unemployment Rate (Seasonally Adjusted)', 'PRS85006092': 'Output Per Hour - Non-farm Business Productivity'}

In [3]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": list(bls.keys()),"startyear":"2018", "endyear":"2022"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

In [4]:
json_data['Results']['series'][0]

{'seriesID': 'CUUR0000SA0',
 'data': [{'year': '2022',
   'period': 'M09',
   'periodName': 'September',
   'latest': 'true',
   'value': '296.808',
   'footnotes': [{}]},
  {'year': '2022',
   'period': 'M08',
   'periodName': 'August',
   'value': '296.171',
   'footnotes': [{}]},
  {'year': '2022',
   'period': 'M07',
   'periodName': 'July',
   'value': '296.276',
   'footnotes': [{}]},
  {'year': '2022',
   'period': 'M06',
   'periodName': 'June',
   'value': '296.311',
   'footnotes': [{}]},
  {'year': '2022',
   'period': 'M05',
   'periodName': 'May',
   'value': '292.296',
   'footnotes': [{}]},
  {'year': '2022',
   'period': 'M04',
   'periodName': 'April',
   'value': '289.109',
   'footnotes': [{}]},
  {'year': '2022',
   'period': 'M03',
   'periodName': 'March',
   'value': '287.504',
   'footnotes': [{}]},
  {'year': '2022',
   'period': 'M02',
   'periodName': 'February',
   'value': '283.716',
   'footnotes': [{}]},
  {'year': '2022',
   'period': 'M01',
   'periodName': 'January',
   'value': '281.148',
   'footnotes': [{}]},
  {'year': '2021',
   'period': 'M12',
   'periodName': 'December',
   'value': '278.802',
   'footnotes': [{}]},
  {'year': '2021',
   'period': 'M11',
   'periodName': 'November',
   'value': '277.948',
   'footnotes': [{}]},
  {'year': '2021',
   'period': 'M10',
   'periodName': 'October',
   'value': '276.589',
   'footnotes': [{}]},
  {'year': '2021',
   'period': 'M09',
   'periodName': 'September',
   'value': '274.310',
   'footnotes': [{}]},
  {'year': '2021',
   'period': 'M08',
   'periodName': 'August',
   'value': '273.567',
   'footnotes': [{}]},
  {'year': '2021',
   'period': 'M07',
   'periodName': 'July',
   'value': '273.003',
   'footnotes': [{}]},
  {'year': '2021',
   'period': 'M06',
   'periodName': 'June',
   'value': '271.696',
   'footnotes': [{}]},
  {'year': '2021',
   'period': 'M05',
   'periodName': 'May',
   'value': '269.195',
   'footnotes': [{}]},
  {'year': '2021',
   'period': 'M04',
   'periodName': 'April',
   'value': '267.054',
   'footnotes': [{}]},
  {'year': '2021',
   'period': 'M03',
   'periodName': 'March',
   'value': '264.877',
   'footnotes': [{}]},
  {'year': '2021',
   'period': 'M02',
   'periodName': 'February',
   'value': '263.014',
   'footnotes': [{}]},
  {'year': '2021',
   'period': 'M01',
   'periodName': 'January',
   'value': '261.582',
   'footnotes': [{}]},
  {'year': '2020',
   'period': 'M12',
   'periodName': 'December',
   'value': '260.474',
   'footnotes': [{}]},
  {'year': '2020',
   'period': 'M11',
   'periodName': 'November',
   'value': '260.229',
   'footnotes': [{}]},
  {'year': '2020',
   'period': 'M10',
   'periodName': 'October',
   'value': '260.388',
   'footnotes': [{}]},
  {'year': '2020',
   'period': 'M09',
   'periodName': 'September',
   'value': '260.280',
   'footnotes': [{}]},
  {'year': '2020',
   'period': 'M08',
   'periodName': 'August',
   'value': '259.918',
   'footnotes': [{}]},
  {'year': '2020',
   'period': 'M07',
   'periodName': 'July',
   'value': '259.101',
   'footnotes': [{}]},
  {'year': '2020',
   'period': 'M06',
   'periodName': 'June',
   'value': '257.797',
   'footnotes': [{}]},
  {'year': '2020',
   'period': 'M05',
   'periodName': 'May',
   'value': '256.394',
   'footnotes': [{}]},
  {'year': '2020',
   'period': 'M04',
   'periodName': 'April',
   'value': '256.389',
   'footnotes': [{}]},
  {'year': '2020',
   'period': 'M03',
   'periodName': 'March',
   'value': '258.115',
   'footnotes': [{}]},
  {'year': '2020',
   'period': 'M02',
   'periodName': 'February',
   'value': '258.678',
   'footnotes': [{}]},
  {'year': '2020',
   'period': 'M01',
   'periodName': 'January',
   'value': '257.971',
   'footnotes': [{}]},
  {'year': '2019',
   'period': 'M12',
   'periodName': 'December',
   'value': '256.974',
   'footnotes': [{}]},
  {'year': '2019',
   'period': 'M11',
   'periodName': 'November',
   'value': '257.208',
   'footnotes': [{}]},
  {'year': '2019',
   'period': 'M10',
   'periodName': 'October',
   'value': '257.346',
   'footnotes': [{}]},
  {'year': '2019',
   'period': 'M09',
   'periodName': 'September',
   'value': '256.759',
   'footnotes': [{}]},
  {'year': '2019',
   'period': 'M08',
   'periodName': 'August',
   'value': '256.558',
   'footnotes': [{}]},
  {'year': '2019',
   'period': 'M07',
   'periodName': 'July',
   'value': '256.571',
   'footnotes': [{}]},
  {'year': '2019',
   'period': 'M06',
   'periodName': 'June',
   'value': '256.143',
   'footnotes': [{}]},
  {'year': '2019',
   'period': 'M05',
   'periodName': 'May',
   'value': '256.092',
   'footnotes': [{}]},
  {'year': '2019',
   'period': 'M04',
   'periodName': 'April',
   'value': '255.548',
   'footnotes': [{}]},
  {'year': '2019',
   'period': 'M03',
   'periodName': 'March',
   'value': '254.202',
   'footnotes': [{}]},
  {'year': '2019',
   'period': 'M02',
   'periodName': 'February',
   'value': '252.776',
   'footnotes': [{}]},
  {'year': '2019',
   'period': 'M01',
   'periodName': 'January',
   'value': '251.712',
   'footnotes': [{}]},
  {'year': '2018',
   'period': 'M12',
   'periodName': 'December',
   'value': '251.233',
   'footnotes': [{}]},
  {'year': '2018',
   'period': 'M11',
   'periodName': 'November',
   'value': '252.038',
   'footnotes': [{}]},
  {'year': '2018',
   'period': 'M10',
   'periodName': 'October',
   'value': '252.885',
   'footnotes': [{}]},
  {'year': '2018',
   'period': 'M09',
   'periodName': 'September',
   'value': '252.439',
   'footnotes': [{}]},
  {'year': '2018',
   'period': 'M08',
   'periodName': 'August',
   'value': '252.146',
   'footnotes': [{}]},
  {'year': '2018',
   'period': 'M07',
   'periodName': 'July',
   'value': '252.006',
   'footnotes': [{}]},
  {'year': '2018',
   'period': 'M06',
   'periodName': 'June',
   'value': '251.989',
   'footnotes': [{}]},
  {'year': '2018',
   'period': 'M05',
   'periodName': 'May',
   'value': '251.588',
   'footnotes': [{}]},
  {'year': '2018',
   'period': 'M04',
   'periodName': 'April',
   'value': '250.546',
   'footnotes': [{}]},
  {'year': '2018',
   'period': 'M03',
   'periodName': 'March',
   'value': '249.554',
   'footnotes': [{}]},
  {'year': '2018',
   'period': 'M02',
   'periodName': 'February',
   'value': '248.991',
   'footnotes': [{}]},
  {'year': '2018',
   'period': 'M01',
   'periodName': 'January',
   'value': '247.867',
   'footnotes': [{}]}]}

In [5]:
len(json_data['Results']['series'][0]['data'])
for s in json_data['Results']['series']:
  print(bls[s['seriesID']], ': ', len(s['data']), sep='')
  # print(len(s['data']))

CPI for All Urban Consumers (CPI-U) 1982-84=100 (Unadjusted): 57
Employment Cost Index (ECI) Civilian (Unadjusted): 18
Unemployment Rate (Seasonally Adjusted): 57
Output Per Hour - Non-farm Business Productivity: 18

CPI and Unemployment Rate are monthly, while Employment Cost Index and Output her hour are only quarterly

# Consumer Price Index

In [6]:
cpi = pd.DataFrame(json_data['Results']['series'][0]['data'])

In [7]:
cpi.head()

   year period periodName latest    value footnotes
0  2022    M09  September   true  296.808      [{}]
1  2022    M08     August    NaN  296.171      [{}]
2  2022    M07       July    NaN  296.276      [{}]
3  2022    M06       June    NaN  296.311      [{}]
4  2022    M05        May    NaN  292.296      [{}]

In [9]:
cpi.to_csv('../Data/Macro-Indicators/cpi.csv', index=False)

# Employment Cost Index

In [10]:
eci = pd.DataFrame(json_data['Results']['series'][1]['data'])

In [11]:
eci.head()

   year period   periodName latest value footnotes
0  2022    Q02  2nd Quarter   true   5.1      [{}]
1  2022    Q01  1st Quarter    NaN   4.5      [{}]
2  2021    Q04  4th Quarter    NaN   4.0      [{}]
3  2021    Q03  3rd Quarter    NaN   3.7      [{}]
4  2021    Q02  2nd Quarter    NaN   2.9      [{}]

In [12]:
eci[:10]

   year period   periodName latest value footnotes
0  2022    Q02  2nd Quarter   true   5.1      [{}]
1  2022    Q01  1st Quarter    NaN   4.5      [{}]
2  2021    Q04  4th Quarter    NaN   4.0      [{}]
3  2021    Q03  3rd Quarter    NaN   3.7      [{}]
4  2021    Q02  2nd Quarter    NaN   2.9      [{}]
5  2021    Q01  1st Quarter    NaN   2.6      [{}]
6  2020    Q04  4th Quarter    NaN   2.5      [{}]
7  2020    Q03  3rd Quarter    NaN   2.4      [{}]
8  2020    Q02  2nd Quarter    NaN   2.7      [{}]
9  2020    Q01  1st Quarter    NaN   2.8      [{}]

In [13]:
eci.to_csv('../Data/Macro-Indicators/eci.csv', index=False)

# Unemployment Rate

In [14]:
uer = pd.DataFrame(json_data['Results']['series'][2]['data'])

In [15]:
uer.head()

   year period periodName latest value footnotes
0  2022    M09  September   true   3.5      [{}]
1  2022    M08     August    NaN   3.7      [{}]
2  2022    M07       July    NaN   3.5      [{}]
3  2022    M06       June    NaN   3.6      [{}]
4  2022    M05        May    NaN   3.6      [{}]

In [16]:
uer.to_csv('../Data/Macro-Indicators/uer.csv', index=False)

# Output per hour

In [17]:
oph = pd.DataFrame(json_data['Results']['series'][3]['data'])

In [18]:
oph.head()

   year period   periodName latest value                           footnotes
0  2022    Q02  2nd Quarter   true  -4.1  [{'code': 'R', 'text': 'revised'}]
1  2022    Q01  1st Quarter    NaN  -7.4                                [{}]
2  2021    Q04  4th Quarter    NaN   6.3                                [{}]
3  2021    Q03  3rd Quarter    NaN  -3.9                                [{}]
4  2021    Q02  2nd Quarter    NaN   3.2                                [{}]

In [19]:
oph.to_csv('../Data/Macro-Indicators/oph.csv', index=False)