In [ ]:
import os
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd 'drive/MyDrive/bt4222miningwebdata/BT4222 Project'

/content/drive/.shortcut-targets-by-id/1qIII2fyQVCDCCeizBbjlWcPizpOE5eLU/BT4222 Project

In [ ]:
import requests
import json
import pandas as pd

In [ ]:
bls_codes = ['CUUR0000SA0','CIU1010000000000A', 'LNS14000000', 'PRS85006092']
bls_indicator_names = ['CPI for All Urban Consumers (CPI-U) 1982-84=100 (Unadjusted)', 
                      'Employment Cost Index (ECI) Civilian (Unadjusted)',
                      'Unemployment Rate (Seasonally Adjusted)',
                      'Output Per Hour - Non-farm Business Productivity']
bls = dict()
for code, name in zip(bls_codes, bls_indicator_names):
  bls[code] = name
print(bls)

{'CUUR0000SA0': 'CPI for All Urban Consumers (CPI-U) 1982-84=100 (Unadjusted)', 'CIU1010000000000A': 'Employment Cost Index (ECI) Civilian (Unadjusted)', 'LNS14000000': 'Unemployment Rate (Seasonally Adjusted)', 'PRS85006092': 'Output Per Hour - Non-farm Business Productivity'}

In [ ]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": list(bls.keys()),"startyear":"2018", "endyear":"2022"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

In [ ]:
json_data['Results']['series'][0]

In [ ]:
len(json_data['Results']['series'][0]['data'])
for s in json_data['Results']['series']:
  print(bls[s['seriesID']], ': ', len(s['data']), sep='')
  # print(len(s['data']))

CPI for All Urban Consumers (CPI-U) 1982-84=100 (Unadjusted): 57
Employment Cost Index (ECI) Civilian (Unadjusted): 18
Unemployment Rate (Seasonally Adjusted): 57
Output Per Hour - Non-farm Business Productivity: 18

CPI and Unemployment Rate are monthly, while Employment Cost Index and Output her hour are only quarterly

# Consumer Price Index

In [ ]:
cpi = pd.DataFrame(json_data['Results']['series'][0]['data'])

In [ ]:
cpi.head()

   year period periodName latest    value footnotes
0  2022    M09  September   true  296.808      [{}]
1  2022    M08     August    NaN  296.171      [{}]
2  2022    M07       July    NaN  296.276      [{}]
3  2022    M06       June    NaN  296.311      [{}]
4  2022    M05        May    NaN  292.296      [{}]

In [ ]:
cpi.to_csv('data/macroeconomic indicators/cpi.csv', index=False)

# Employment Cost Index

In [ ]:
eci = pd.DataFrame(json_data['Results']['series'][1]['data'])

In [ ]:
eci.head()

   year period   periodName latest value footnotes
0  2022    Q02  2nd Quarter   true   5.1      [{}]
1  2022    Q01  1st Quarter    NaN   4.5      [{}]
2  2021    Q04  4th Quarter    NaN   4.0      [{}]
3  2021    Q03  3rd Quarter    NaN   3.7      [{}]
4  2021    Q02  2nd Quarter    NaN   2.9      [{}]

In [ ]:
eci[:10]

   year period   periodName latest value footnotes
0  2022    Q02  2nd Quarter   true   5.1      [{}]
1  2022    Q01  1st Quarter    NaN   4.5      [{}]
2  2021    Q04  4th Quarter    NaN   4.0      [{}]
3  2021    Q03  3rd Quarter    NaN   3.7      [{}]
4  2021    Q02  2nd Quarter    NaN   2.9      [{}]
5  2021    Q01  1st Quarter    NaN   2.6      [{}]
6  2020    Q04  4th Quarter    NaN   2.5      [{}]
7  2020    Q03  3rd Quarter    NaN   2.4      [{}]
8  2020    Q02  2nd Quarter    NaN   2.7      [{}]
9  2020    Q01  1st Quarter    NaN   2.8      [{}]

In [ ]:
eci.to_csv('data/macroeconomic indicators/eci.csv', index=False)

# Unemployment Rate

In [ ]:
uer = pd.DataFrame(json_data['Results']['series'][2]['data'])

In [ ]:
uer.head()

   year period periodName latest value footnotes
0  2022    M09  September   true   3.5      [{}]
1  2022    M08     August    NaN   3.7      [{}]
2  2022    M07       July    NaN   3.5      [{}]
3  2022    M06       June    NaN   3.6      [{}]
4  2022    M05        May    NaN   3.6      [{}]

In [ ]:
uer.to_csv('data/macroeconomic indicators/uer.csv', index=False)

# Output per hour

In [ ]:
oph = pd.DataFrame(json_data['Results']['series'][3]['data'])

In [ ]:
oph.head()

   year period   periodName latest value                           footnotes
0  2022    Q02  2nd Quarter   true  -4.1  [{'code': 'R', 'text': 'revised'}]
1  2022    Q01  1st Quarter    NaN  -7.4                                [{}]
2  2021    Q04  4th Quarter    NaN   6.3                                [{}]
3  2021    Q03  3rd Quarter    NaN  -3.9                                [{}]
4  2021    Q02  2nd Quarter    NaN   3.2                                [{}]

In [ ]:
oph.to_csv('data/macroeconomic indicators/oph.csv', index=False)